body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    background-color: lightskyblue;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr 4fr;
    row-gap: 3vh;
    min-width: 225px;
}

main {
    background-color: blueviolet;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: coral;
}

.content {
    background-color: blue;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    background-color: lightblue;
}

.news {
    background-color: lightblue;
    border: 1px solid black;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
    align-items: center;
    padding-left: 1rem;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(6, minmax(50px, 1fr));
    gap: 0 2rem;
    align-items: center;
    padding-left: 1rem;
}

.user {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(3, minmax(50px, 1fr));
    gap: 0 2rem;
    align-items: center;
    padding-left: 1rem;
}

h3 {
    padding: 0;
    margin: 0;
}

.navigation svg,
.user svg {
    grid-area: 1 1 2 2;
}